

<div class="row">


    <div class="col-md-6">
        <h4>Détails Clients</h4>


        <!--Afficher Détails Clients-->
        <div>
            <h2>détails : nom , prénom</h2>
            <p>email</p>
        </div>
        
        
         <!-- Modifier Détails Clients-->
         <div>

             <!-- nom -->
             <span id="helpBlock" class="help-block">Modifier Nom</span>
             <input type="text" class="form-control" placeholder="Nom Client">

             <!-- prénom -->
            <span id="helpBlock" class="help-block">Modifier Prénom</span>
             <input type="text" class="form-control" placeholder="Prénom Client">
              <!-- email -->
            <span id="helpBlock" class="help-block">Modifier Email</span>
             <input type="text" class="form-control" placeholder="Email Client">
         </div>

    </div>

    <a href="#"  class="btn btn-default"> <span class="glyphicon glyphicon-pencil"></span>Modifier</a>

</div> <!-- row -->