<div class="container">

<h1>Todo Liste - Mon Gestionnaire de Tâches</h1>

<!--  Formulaire - ajouter todo -->
<formulaire-todo></formulaire-todo>

<br>

<!--  Liste todos -->
<div class="row">
        <div class="col-md-8">
        <table  class="table table-bordered table-hover">

      
            <tr *ngFor="let todo of todos">
                <td width="55%">{{todo.texte | uppercase}}</td>
                <td width="25%">{{todo.date | date: "dd - MM - y"}}</td>
                <td width="25%">{{todo.priority}}</td>     
                <td width="2%"><span class="label label-danger">X</span></td>
            </tr>
        </table>  
        </div>

</div><!-- row -->

</div><!-- container --> 